@import url(https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap);
*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding:0
}
body {
  font-family: Fira Mono, monospace;
  background: url('./assets/background.png') no-repeat center / cover ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  color: black;
}
#root{
  width: 100%;
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

button{
  border : none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}